body{
		background-color:#FFB6C1;
		}
		
@media screen and (min-width: 460px){	
html {
		line-height: 140%;
		font-family: "Courier New",monospace;
		font-size: 32px;
		}
		
form{ text-align:center;
	  width:100%;
}
	
h1 {
		text-align:center;
		font-size:32px;
		margin-left:10px;
		}
		
input {
		width:40%;
		height: 40px;
		margin:2px;
		font-size:32px;
		}
		
div {
		width:90%;
		margin: 0 auto;
		}
		
label{
		display: block;
		text-align:center;
		width:95%;
		margin: 0 auto;
		height:60px;
		}

		
#birth{
		margin-right:150px;
		}
		

		
#button{
		text-align:center;
		margin-left:100px
		}
}

@media screen and (min-width: 980px) {
	
}



		